option_settings:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python MonitorDjangoAPI/manage.py collectstatic --noinput"

  aws:elasticbeanstalk:container:python:
    WSGIPath: ARVentasAPI/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles
    /static/ = static/
